<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="app.css" rel="stylesheet">
    <title>Spotify</title>
</head>
<body>
    <div class="container">
      <div>
          <header>
              <img src="../images/logo-spotify-2048.png" class="logo"/>
          </header>
      </div>
        <main>
            <select>
                <option value="nofilter" selected>
                    Sem Filtro
                </option>
                <option value="filter1">
                 Filtro 1
                </option>
                <option value="filter2">
                 Filtro 2
                </option>
                <option value="filter3">
                 Filtro 3
                </option>
                <option value="filter4">
                 Filtro 4
                </option>
            </select>
            <div>
                <div class="row center">
                  <div class="card">
                    <a href="#">
                      <img class="medium" src="../images/911HkSkbPcL._AC_UY218_.jpg"/>
                    </a>
                    <div class="card-body">
                      <a href="#">
                        <h2>Playlist</h2>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <div>
                <div class="row center">
                  <div class="card">
                    <a href="#">
                      <img class="medium" src="../images/911HkSkbPcL._AC_UY218_.jpg"/>
                    </a>
                    <div class="card-body">
                      <a href="#">
                        <h2>Playlist</h2>
                      </a>
                    </div>
                  </div>
                  </div>
                  </div>
            <div>
                <div class="row center">
                  <div class="card">
                    <a href="#">
                      <img class="medium" src="../images/911HkSkbPcL._AC_UY218_.jpg"/>
                    </a>
                    <div class="card-body">
                      <a href="#">
                        <h2>Playlist</h2>
                      </a>
                    </div>
                  </div>
                  </div>
                  </div>
            <div>
                <div class="row center">
                  <div class="card">
                    <a href="#">
                      <img class="medium" src="../images/911HkSkbPcL._AC_UY218_.jpg"/>
                    </a>
                    <div class="card-body">
                      <a href="#">
                        <h2>Playlist</h2>
                      </a>
                    </div>
                  </div>
                  </div>
            </div>
        </main>
    </div>
</body>
</html>