* {
    font-size: 15px;
    font-family: sans-serif;
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
  }

  header {
    background-color: black;
    grid-area: header;
    border-bottom: 1px solid white;
}

.logo {
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}

.card {
    border: white;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lime;
}

body {
    background-color: black;
}

html {
    font-size: 62.5%; 
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
  }
  
  /* Layout */
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main';
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr 3rem;
    height: 100%;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    padding: 1rem;
  }
  /* Common */
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
    margin-left: 70px;
  }

  img {
    border-radius: 0.5rem;
  }
  img.medium {
    max-width: 29rem;
    width: 100%;
  }

  .card {
    border: 0.1rem #c0c0c0 solid;
    background-color: black;
    border-radius: 0.5rem;
    margin: 0.5rem;
  }
  .card-body {
    padding: 1rem;
  }
  .card-body > * {
    margin-bottom: 0.5rem;
  }

  .row {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .row.center {
    justify-content: center;
  }
  
  select {
      margin-left: 47%;
      color: black;
  }